h1 {
    color:brown;
}


body {
    background-color: bisque;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

div {
    background-color: burlywood;
    margin: 30px;
    padding: 20px;
}

#btnCifrar {
    margin: 40px;
    padding: 20px;
}

#btnDescifrar {
    margin: 40px;
    padding: 20px;
}


